* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Playfair Display', serif;
}

h1, h3 {
    color: #0C181D;
    user-select: none;
    display: inline-flex;
    -ms-user-select: none;
    -moz-user-select: none;
    flex-direction: column;
    justify-content: center;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

h1 {
    font-size: 10em;
}

h3 {
    font-size: 5em;
}

#content {
    flex: 1;
}

#mode {
    flex: 1;
}

#wrapper {
    display: flex;
    flex-flow: column nowrap;
}